body {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
.menu {
  height: 30px;
  line-height: 30px;
  background: burlywood;
}
.menu a {
  padding: 0 20px;
}
.menu a:active {
  text-decoration: none;
}
.menu a.active {
  color: white;
}
@import './styles/flexboxgrid'